/Uizardy-ejb/dist/
/Uizardy-war/build/
/Uizardy-war/dist/
/Uizardy-ejb/build/
dist/gfdeploy/Uizardy/lib/BootsFaces-OSP-dist-0.7.0.jar
build/lib/BootsFaces-OSP-dist-0.7.0.jar
lib/BootsFaces-OSP-dist-0.7.0.jar
/build/
/dist/