.maincontent-area {padding-bottom: 170px}

.slider-area{
    margin-top: 50px;
}
.latest-product .owl-nav {
  position: absolute;
  right: 0;
  top: 0;
}

.latest-product .owl-nav div, .related-products-wrapper .owl-nav div {
  border: 1px solid #6897E3;
  color: #6897E3;
  display: inline-block;
  margin-left: 15px;
  padding: 1px 10px;
}
/*.latest-product .owl-nav div:hover, .brand-wrapper .owl-nav div:hover, .related-products-wrapper .owl-nav div:hover {color: #6897E3;border-color: #6897E3}*/

.section-title {
  font-family: "Raleway",sans-serif;
  font-size: 50px;
  font-weight: 100;
  margin-bottom: 50px;
  text-align: center;
  margin-top: 100px;
}
.product-carousel {
  padding-top: 40px;
}

.single-wid-product h2 a:hover, .single-product h2 a:hover {
    color: #283A57;
}

.single-product h2 {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 10px;
    margin-top: 15px;
}


.single-product h2 a {
    color: #6897E3;
}
/*.single-product p {
    color: #1abc9c;
    font-weight: 700;
}*/

.single-product {
  overflow: hidden;
}

/*****************Aparecimento do link de detalhe e carrinho************************/
.single-product:hover {}
.single-product:hover .product-hover a.add-to-cart-link {top: 32%;}
.single-product:hover .product-hover a.view-details-link {bottom: 32%;}
/*****************************Fundo escuro******************************************/
.single-product:hover .product-hover:after{left: 0}


/***************Div referente a imagem do produto*****/
.product-f-image {
    position: relative;
}

/************Div referente aos links de adicionar no carrinho e detalhes********************/
.product-hover {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;overflow: hidden;border: 1px solid #ddd;
}
/*******************Adicionar depois de produto-hover****************/

.product-hover:after {
  background: none repeat scroll 0 0 #000;
  content: "";
  height: 100%;
  left: -100%;
  opacity: 0.6;
  position: absolute;
  top: 0;
  width: 100%;transition: .4s;
}
/***********Links referente ao add carrinho e detalhe ****************/
.product-hover a {
    background: none repeat scroll 0 0 #6897E3;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 16px;
    left: 10%;
    margin: 0;
    padding: 10px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #6897E3;
    width: 80%;z-index: 99;transition: .4s;
}
/************Quando o mouse em cima do link de carirnho/detalhe**************/
.product-hover a:hover {
  background: #000;
  text-decoration: none;border-color: #444;
}
/*****************Margin dos simbolos carirnho e detalhes*******************/
.product-hover a i.fa {
    margin-right: 5px;
}

/*****************Local do link de add carrinho / detalhe********************/
.product-hover a.add-to-cart-link {top: -25%;}
.product-hover a.view-details-link { bottom: -25%;}


/***********Preco do produto cor, margin e font**************/
.product-carousel-price ins {
  color: #283A57;
  font-weight: 700;
  margin-right: 5px;
  text-decoration: none;
}

.valorBanner1{
    margin-left: 500px;
    font-size: 40px;
    color: #312783;
}
.valorBanner2{
    font-size: 30px;
    margin-top: 50px;
    color: white;
}
